/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

.hive-dialog .mat-mdc-dialog-container {
  --mdc-dialog-container-color: transparent;
  --mdc-dialog-container-shape: 16px;
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.6);
}
